* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, nav, a{
  font-family: 'Josefin Sans', sans-serif, 'Josefin Slab', serif, verdana; 
}

p {
    font-family: 'Montserrat', sans-serif, 'Open Sans', sans-serif, arial;
}


@media(max-width: 700px){


        /* 
    --------------------------------------------------------
    HEADER SECTION 
    --------------------------------------------------------
    */

    .Header_box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(226, 226, 226);
        padding-left: 20px;
        padding-right: 20px;
    }

    input{
        display: none;
    }

    .fa-solid.fa-bars{
        font-size: 30px;
    }

    .mobile-image-source{
        height: 100px;
    }

    nav {
        display: none;
    }

   

    #hamburger-menu:checked ~ nav {
        display:block;
        position: absolute;
        right: 0%;
        top: 103.5px;
        background-color: rgb(226, 226, 226);
        width: 100%;
        text-align: center;
        z-index: 10;
    }
    
     nav a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 20px;
    }

    .front-page{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }


    .front-page img{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .front-page button {
        background-color: lightskyblue;
        font-size: 20px;
        position: absolute;
        margin-left: 80%;
        top: 30%;
        z-index: 5;
    }

    .section_2{
        margin: 20px;
    }

    .girl_or_men_chooser{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .girl_or_men_chooser img{
        width: 100%;
    }

    .men_section{
        align-self: center;
    }

    .first_page_with_content{
        background-image: url("images/pexels-gabriela-palai-395242\ \(1\)\ endret\ størrelse.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .row{
        display: flex;
        height: 100%; 
    }

    .col-2{
        align-self: flex-end;
        background-color: rgb(216, 214, 214);
        margin: 20px;
        padding: 20px;
        border-radius: 10%;
    }

    .col-2 a{
        color: white;
        text-decoration: none; 
        background-color: #ff523b;
        padding: 8px 20px;
        margin:30px 0;
        border-radius: 30px;
    }

    .col-2 h1{
        padding: 10px;
    }

        /* 
    --------------------------------------------------------
    HEADER SECTION DONE
    --------------------------------------------------------
    */

    /* 
    --------------------------------------------------------
    MAIN SECTION 
    --------------------------------------------------------
    */

    .main-container{
        max-width: 300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
    }

    .title-for-main-container{
        text-align: center;
        position: relative;
        line-height: 60px;
        color: #555;
        margin-top: 20px;
    }

    .title-for-main-container::after{
        content: "";
        background: #f14d37;
        width: 300px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    .row-inside-main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .title-for-main-container{
        margin-top: 60px;
        margin-bottom: 20px;
    }



    .products-columns img{
        width: 100%;
    }

    /* 
    --------------------------------------------------------
    MAIN SECTION DONE
    --------------------------------------------------------
    */

    /* 
    --------------------------------------------------------
    FOOTER SECTION 
    --------------------------------------------------------
    */




    .footer_section{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
    }

    .footer_container{
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 0%;
    }

    .footer_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px 20px;

    }
    .footer-container1, .footer-container2, .footer-container3, .footer-container4{
        flex-basis: 50%;
        text-align: center;
    }

    .footer-container1 h3, .footer-container2 h3, .footer-container3 h3, .footer-container4 h3{
        text-decoration: underline;
    }



    .footer-container1 p, .app_icons, .footer-container2 p, .footer-container3 ul li{
        color: #777171;
        font-size: 16px;
        margin-top: 5%;
        list-style: none;
    }

    .app_icons, .social-meida-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10%;
        font-size: 24px;
    }

    .app_icons a i, .social-meida-icons a i{
        color: #777171;
    }

    .copyright{
        background-color: black;
        margin-top: 20px;
    }

    .copyright p{
        color: white;
        text-align: center;
    }

    /* 
    --------------------------------------------------------
    FOOTER SECTION DONE
    --------------------------------------------------------
    */



    
    /*
    nav {
        display: none;
    }

    nav img{
        display: none;
    }

    label{
        display: block;
        color: black;
        text-align: center;
        font-size: 50px; 
        position: sticky;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: center;
    }

    #hamburger-menuu{
        display: none;
    }

    nav ul li{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #hamburger-menuu:checked ~ nav {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 99999;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-content: start;
        align-items: center;
        background-image:url(images/Dinosaur\ ut\ ved\ elv\ komprimert.jpg);
        background-size: cover;
    }

    nav ul li a{
        font-size: 30px;
    }

    nav ul li{
        padding: 20px;
        background-color: black;
        width: 200px;
    }

    a.mobile-image{
        display: inline;
        justify-self: center;
        align-self: center;
    }

    img.mobile-image-source{
        width: 70px;
    }

    .Welcome-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px 1fr auto;
    }

    .Welcome-content h2{
        justify-self: center;
        align-self: center;
        border-bottom: 2px solid black;
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 40px;
 }

    .Welcome-content img{
        width: 100%;
        height:80%;
        border-radius: 10%;
        justify-self: center;
        align-self: center;

    }

    .Welcome-content p{

        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: center;
        text-align: center;
    }

    .what_to_see_inn_the_museum_div{
        justify-self: center;
        align-self: center;
        padding:15px;
        background-color: #bce9ff;
        border-radius: 10px;
        margin: 20px;
        color: black;
    }

    .what_to_see_in_the_museum_a_href{
        color: black;
        font-weight: bold;
    }

    .visit_us_heading_h2{
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        background-color: rgb(235, 235, 235);
    }

    .visit_us_section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: rgb(235, 235, 235);
    }

    .opening_hours, .Location, .Admission{
        background-color: white;
        border-radius: 10px;
        padding: 10px 12px;
        box-sizing: border-box;
        width: 400px;
        height: 250px; 
        justify-content: center;
        align-content: center; 
        margin: 10px;
        border-radius: 10px;
        
    }

    .opening_hours h3, .Location h3, .Admission h3 {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .opening_hours p {
        text-align: center;
    }

    .Location p {
        text-align: center;
    }

    .Admission p{
        text-align: center;
    }

    .entrance_is_free{
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .Events_heading{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .events {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .event_box {
        max-width: 300px;
        padding: 20px;
        margin: 20px;
    }
    
    .event_box {
        text-align: center;
        padding: 20px;
        background-color: lightgrey;
        border-radius: 10px;
    }
    
    
    .event_box img{
        display: block;
        width: 100%;
        max-height: 200px;
    }
    
    .event_box h3 {
        padding-bottom: 20px;
    }
    
    .event_box p {
        padding-top: 20px;
    }
    
    
    .wrapper-hero-btn_events{
        text-align: center;
        width: 100%;
        top: 70%;
        margin-top: 20px;
        margin-bottom:20px;
    }
    
    .hero-btn-event {
        display: inline-block;
        color: rgb(0, 0, 0);
        padding: 20px 50px;
        font-size: 16px;
        font-weight: bold;
        background-color: #00FF88;
        border-radius: 20px;
        padding: 20px;
        width: 50%;
    }
    
    .See_heading{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .things_to_see{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .event_box {
        max-width: 300px;
        padding: 20px;
        margin: 20px;
    }
    
    .event_box {
        text-align: center;
        padding: 20px;
        background-color: lightgrey;
        border-radius: 10px;
    }
    
    
    .event_box img{
        display: block;
        width: 100%;
        max-height: 200px;
    }
    
    .event_box h3 {
        padding-bottom: 20px;
    }
    
    .event_box p {
        padding-top: 20px;
    }
    
    
    .wrapper-hero-btn_events{
        text-align: center;
        width: 100%;
        top: 70%;
        margin-top: 20px;
        margin-bottom:20px;
    }
    
    .hero-btn-event {
        display: inline-block;
        color: rgb(0, 0, 0);
        padding: 20px 50px;
        font-size: 16px;
        font-weight: bold;
        background-color: #00FF88;
        border-radius: 20px;
        padding: 20px;
        width: 50%;
    }
 
    .footer{        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        background-color: black;
        color: white;
        margin-top: 10px;
    }

    .box{
        min-width: 250px;
        align-self: center;
        justify-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .heading_about_us{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    
    }
    .about_us{
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
    
    .img_about_us{
        flex-basis: 80%; 
        margin: 20px;
    }
    
    .image_of_employes{
        width: 100%;
       
    }
    
    .p_about_us{
        align-self: center;
    }
    
    .p_about_us p{
        background-color: lightgray;
        margin-right: 20px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 20px;
        align-self: center;
    }