body {
    font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif


}
.item-floated {
    position: relative;
    box-sizing: border-box;
    width: 1519px;
    padding-left: 110px;
    padding-right:110px;
}

nav,
#menu-checkbox{
    display: none
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: rgb(44, 44, 44)
    color: #fff
}

nav {
    position: absolute;
    background: rgb(44, 44, 44)
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
}

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }
}

nav a {
    display: inline-block
}

.bilde1, .bilde2, .bilde3{
    display: block;
    height: 100px;
}

.seksjon1, .seksjon2, .seksjon3, .nr1-jakkeclass, .nr2-jakkeclass, .nr3-jakkeclass{
display: inline-block;
margin: 0 auto;
background-color: blue;
padding: 50px;
border-color: #f2f261;
}

.jakke-seksjon{
    height: 500px;
    float: center;
}
.hikingjacket, .canojacket, .runningjacket {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border: 5px black;
    background-color: #efefef;
    position: static;
}

.front-page-picture {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    content: 100%;
}

.footer {
    display: inline-block;
    position: static;
}