header {
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

footer h2 {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid red;
}
main {
    display: grid;
    border: 2px solid blue;
    grid-template-columns: 1fr 1fr 1fr;
}

.jakke{
    justify-self: center;
}

main h3, main a{
    text-align: center;

}