header {
    background-color: black;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid red;
}
main {
    display: grid;
    border: 2px solid blue;
    grid-template-columns: 1fr 1fr 1fr;
}