* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, nav, a{
  font-family: 'Josefin Sans', sans-serif, 'Josefin Slab', serif, verdana; 
}

p {
    font-family: 'Montserrat', sans-serif, 'Open Sans', sans-serif, arial;
}

.logoImage{
  width: 125px;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

.site_navigations{
  flex: 1;
  text-align: right;
}

.site_navigations ul{
  display:inline-block;
}